<!DOCTYPE html>
<html lang="en">
<head>
  <title>addition route</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Route Additon</h2>
  
  <form>
    
    <div class="form-group">
      <label for="slocation">Start Location</label>
      <input type="text" class="form-control" id="slocation">
    </div>
    <div class="form-group">
      <label for="elocation">End Location:</label>
      <input type="text" class="form-control" id="elocation">
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price">
      </div>
      
      <div class="form-group">
        <label for="dtime">Departture Time:</label>:</label>
        <input type="time" class="form-control" id="dtime">
      </div>
      <div class="form-group">
        <label for="dpdate">Departure Date:</label>:</label>
        <input type="date" class="form-control" id="dpdate">
      </div>
      <div class="form-group">
        <label for="busid">Bus Id</label>:</label>
        <input type="number" class="form-control" id="busid">
      </div>
      
  </form>
</div>

</body>
</html>
