<!DOCTYPE html>
<html lang="en">
<head>
  <title>admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/DataTables/jQuery-3.7.0/jquery-3.7.0.min.js"></script>

</head>
<style>
  .btn{
    background: rgb(47, 79, 79);

  }
  .btn:hover{
    background: rgb(85, 122, 122); 
  }
</style>
<body>

<div class="container mt-5 pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-4">
      <div class=" p-3">
        <h3 class="text-center"> Please Login</h3>
      </div>
      <form action="/admin/login" method="POST" >
        <% if(err){ %> 
        <div class="err text-white bg-danger text-center p-2">
              <span><%= err %></span>
        </div>
        <% } %>
        <div class="form-group mt-3">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group mt-3">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
        </div>
        
        <button type="submit" class="btn w-100 mt-3">LOGIN</button>
      </form>
    </div>
  </div>
  
</div>

</body>
</html>
