<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/DataTables/jQuery-3.7.0/jquery-3.7.0.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Transport U</h4>
      <ul class="nav nav-pills nav-stacked">
        
        <li  class="active"><a href="/admin/bus/lists">Bus List</a></li>
        <li><a href="/admin/route/addition">Add Route</a></li>
        <li><a href="/admin/route/list">Route List</a></li>
        <li><a href="/admin/user/list">Booking List</a></li>
      </ul><br>
      
    </div>

    <div class="col-sm-9">
        <h2> Bus List</h2>
    <div class="p-4">
        <table id="bus_lists" class=" display table table-dark table-striped w-100">
            <thead>
                <tr>
                    <th> bus_id </th>
                    <th> bus_name</th>
                    <th>bus_number</th>
                    <th>capacity</th>
                    <th>model</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Transport_U1</td>
                    <td>RKE-1234</td>
                    <td>45</td>
                    <td>2009</td>
                </tr>
            </tbody>
        </table>
    </div>
  
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

   
<script src="/DataTables/datatables.min.js"></script>
<script>
    let table = new DataTable('#bus_lists', {
    // config options...
    });
</script>
</body>
</html>