<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <h2> Passenger List</h2>
    <div class="p-4">
        <table id="userTable" class=" display table table-dark table-striped w-100">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Gender</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone numbers</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>Lwin</td>
                    <td>Male</td>
                    <td>ls@gmail.com</td>
                    <td>sittwe</td>
                    <td>09.....</td>
                </tr>
            </tbody>
        </table>
    </div>
  
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/DataTables/jQuery-3.7.0/jquery-3.7.0.min.js"></script>
    <script src="/DataTables/datatables.min.js"></script>
<script>
    let table = new DataTable('#userTable', {
    // config options...
    });
</script>
</body>
</html>