<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/icon/all.min.css">
    <link rel="stylesheet" href="/icon/fontawesome.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav class="headsection">
        <label class="logo">Transport<span>U</span></label>
    <ul>
        
        <li><a class="text-decoration-none" href="http://">Home</a></li>
        <li><a class="text-decoration-none" href="http://">BUS</a></li>
        <li><a class="text-decoration-none" href="http://">SHIP</a></li>
        <li><a class="text-decoration-none" href="http://">PLANE</a></li>
        <li><a class="text-decoration-none" href="http://">ABOUT US</a></li>
        
    </ul>
    <div class="menubar">
        <div class="bar line1"></div>
        <div class="bar line2"></div>
        <div class="bar line3"></div>
    </div>
</nav>

  <section class="footer">
    <div class="footerContainer">
        <div class="footerBox">
            <a  class="pagename" href="">Transport<span>U</span></a>
            <div class="socal">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
        <div class="footerBox">
            <h3>Page</h3>
            <a href="">Home</a>
            <a href="">bus</a>
            <a href="">ship</a>
            <a href="">plane</a>
            <a href="">about us</a>
        </div>
        <div class="footerBox">
            <h3>legal</h3>
            <a href="">Privicy</a>
            <a href="">Refund Policy</a>
            <a href="">cookies Policy</a>
        </div>
        <div class="footerBox">
            <h3>Contact us</h3>
            <p>Yangon</p>
            <p>Sittwe</p>
            <p>09898495517</p>
        </div>
    </div>
    <div class="copyright">@2023 TransportU.com</div>
</section>
<script src="/script/search_data.js"></script>
</body>
</html>