<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4e66fe9cce.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">   
</head>
<body>
    <nav class="headsection">
        <label class="logo">Transport<span>U</span></label>
    <ul class="menuContainer">
        
        <li class="menuList"><a class="text-decoration-none" href="/homepage">HOME</a></li>
        <li class="menuList"><a class="text-decoration-none" href="http://">BUS</a></li>
        <li class="menuList"><a class="text-decoration-none" href="http://">SHIP</a></li>
        <li class="menuList" ><a class="text-decoration-none" href="http://">PLANE</a></li>
        <li class="menuList"><a class="text-decoration-none" href="http://">ABOUT US</a></li>
        
    </ul>
    <div class="menubar">
        <div class="bar line1"></div>
        <div class="bar line2"></div>
        <div class="bar line3"></div>
    </div>
   
</nav>
<div class="tom"><p>Tomorrow service</p></div>
<div class="sliderContainer">
    
<div class="slider">
   
    <div class="slide  active">
        <img src="/img/pjphoto/bus12.jpg" alt="">
       <div class="info">
        <h4>sittwe to yangon</h4>
       
       </div>
    </div>
    <div class="slide">
        <img src="/img/pjphoto/bus7.jpg" alt="">
       <div class="info">
        <h4>sittwe to yangon</h4>
       
       </div>
    </div>
    <div class="slide">
        <img src="/img/pjphoto/bus8.jpg" alt="">
       <div class="info">
        <h4>sittwe to taunggoot</h4>
       
       </div>
    </div>
    <div class="slide">
        <img src="/img/pjphoto/bus9.jpg" alt="">
       <div class="info">
        <h4>mandalay to sittwe</h4>
        
       </div>
    </div>  
    <div class="slide">
        <img src="/img/pjphoto/bus10.jpg" alt="">
       <div class="info">
        <h4>ngapli to yangon</h4>
     </div> 
    </div>
    <div class="navagition">
        <i class="fa-solid fa-angle-left"></i>
        <i class="fa-solid fa-angle-right"></i>
    </div>
    <div class="visibility">
        <div class="slideicon active"></div>
        <div class="slideicon"></div>
        <div class="slideicon"></div>
        <div class="slideicon"></div>
        <div class="slideicon"></div>
    </div>
        </div>
        <div class="intro">
            <fieldset>
                <legend>Bus Tickets</legend>
                <p>
                    Explore the world by road with our extensive selection of bus tickets. From short city hops to long-distance journeys, we connect you with a diverse range of bus operators, routes, and schedules. Discover a new level of flexibility as you browse through various options and choose the one that fits your travel preferences and budget.
                </p>
            </fieldset>
            <fieldset>
                <legend>Ship Tickets</legend>
                <p>
                    For those who seek adventure across the open waters, YourTicketHub offers a range of ship ticket options. Cruise through scenic coastlines, navigate tranquil rivers, or embark on a ferry to your favorite islands. Our platform allows you to compare different cruise lines, ferry services, and itineraries, making it simple to book a voyage that suits your desires.
                </p>
            </fieldset>
            <fieldset>
                <legend>Airline Tickets</legend>
                <p>
                    Reach new heights with our comprehensive selection of airline tickets. Whether you're traveling for business or leisure, domestically or internationally, YourTicketHub provides you with an array of flight options from various airlines. With real-time pricing and availability updates, you can confidently book your flights at the best possible rates.
                </p>
            </fieldset>
        </div>
    </div>
<form class="homeform" action="/route/search" method="POST">
    <div class="row mx-auto my-5 p-5 justify-content-center">
        <div class="col-lg-3 col-12   ">
            <div class="form-group">
                <label for="exampleFormControlFile1" class="form-label text-light ">From</label> <br>
                <select id="element_id" class="js-example-basic-single form-control form-select" name="start_location">
                    <option value="" selected></option>
                    <option value="Sittwe">Sittwe</option>
                    <option value="Yangon">Yangon</option>
                 <option value="Ann">Ann</option>
                 <option value="Mraukoo">Mrauk_oo</option>
                  </select>
              </div>
         
        </div>
        
        <div class="col-lg-3 col-12 ">
            <div class="form-group">
                <label for="exampleFormControlFile1" class="form-label text-light">To</label> <br>
                <select  id="toselect2" class="js-example-basic-single form-control form-select" name="end_location" style=" line-height: 31px !important;">
                    <option value="" selected></option>
                    <option value="Sittwe">Sittwe</option>
                    <option value="Yangon">Yangon</option>
                    <option value="Ann">Ann</option>
                    <option value="Mraukoo">Mrauk_oo</option>
                  </select>
              </div>
         
        </div>
        <div class="col-lg-3 col-12 ">
            <div class="form-group">
                <label for="exampleFormControlFile1" class="form-label text-light">Departure Date</label>
               <input type="date" cla name="departure_date" id="date" class="form-control form-input ">
              </div>
        </div>
        <div class="col-lg-3 col-12 ">
            <div class="form-group">
                <label for="exampleFormControlFile1" class="form-label text-light"> Quantity</label>
              <input type="number" name="quantity" id="" class="form-control form-input ">
              </div>
        </div>
        <div class="col-lg-12 col-12 ">
            <div class="form-group mt-4">
                <label for="exampleFormControlFile1">.</label>
                <input type="submit" value="search" class="btn w-100">
              </div>
        </div>
      
    </div>
</form>
  

<!-- <div class="searchbox">
<form>
    <div class="fromcity">
   <h3>FROM</h3>
    <!-- <input list="city" name="city"> -->
<!-- <datalist id="city">
    <option value="sittwe"></option>
    <option value="yangon"></option>
    <option value="ngapli"></option>
    <option value="thandwe"></option>
    <option value="mandalay"></option>
</datalist> -->
<!-- 
</div>
<div class="tocity">
<h3>TO</h3>
<input list="city" name="city">
<datalist id="city">
    <option value="sittwe"></option>
    <option value="yangon"></option>
    <option value="ngapli"></option>
    <option value="thandwe"></option>
    <option value="mandalay"></option>
</datalist>
</div>
<div class="datebox">
    <h3>DATE</h3>
    <input type="date">
</div>
<div class="travellertype">
    <h3>TRAVELLER</h3>
    <seLect class="traveller">
        <option value="">local traveller</option>
        <option value="">foregin traveller</option>
    </seLect>
</div>
<div class="submit">
<input type="submit" value="search">
</div>
</form>
</div>  -->
<div class="content">
    <div class="contentgp">
    <h3>system of booking <span>&</span> what we offer</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque id pariatur aspernatur nesciunt.</p>
</div>
</div>
<div class="boxshow">
    <div class="busopreater">

    <i class="fa-solid fa-bus"></i>
    <h3>20+bus opreater</h3>
    <p>choose from 20+ major bus opreaters covering 200 distance</p>
    <p><a href="/homepage/detail">see more</a></p>
    </div>
    <div class="ship">
       

        <i class="fa-solid fa-ship"></i>
            <h3>10+ship opreater</h3>
            <p>choose from 20+ major bus opreaters covering 200 distance</p>
            <a href="">see more</a>
    </div>
    <div class="plane">
        

        <i class="fa-solid fa-plane"></i>
            <h3>3+plane opreater</h3>
            <p>choose from 20+ major bus opreaters covering 200 distance</p>
            <p><a href="">see more</a></p>
    </div>
    <div class="instantbooking">
        <i class="fa-solid fa-clock"></i>
        <h3>instantbooking</h3>
        <p>choose from 20+ major bus opreaters covering 200 distance</p>
        <p><a href="">see more</a></p>
    </div>
    <div class="securepayment">
        <i class="fa-solid fa-shield-halved"></i>
        <h3>secure payment</h3>
        <p>choose from 20+ major bus opreaters covering 200 distance</p>
        <p><a href="">see more</a></p>
    </div>
    <div class="help">

            <i class="fa-solid fa-bus"></i>
            <h3>help&support</h3>
            <p>choose from 20+ major bus opreaters covering 200 distance</p>
            <p><a href="">see more</a></p>
    </div>
    <div class="weaccept">
        <i class="fa-solid fa-bus"></i>
        <h3>weaccept</h3>
        <p>choose from 20+ major bus opreaters covering 200 distance</p>
        <p><a href="">see more</a></p>
    </div>
</div>
<div class="blog">
    <div class="news">
    <h3>Blog <span>&</span> News</h3>
   <h4>our blog contents</h4>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque.
   </p>
</div>
</div>
<div class="package">
<div class="discount">
    <div class="dis">
    <img src="/img/pjphoto/bus6.jpg" class="upimage" alt="">
     <div class="discountnews">
    <label for="">Student package</label>
    <p>30% discount for june</p>
    <span>Gone are the days of burdening student loans and tight pockets – with our Student Execution Discount, you can now seize the adventure without sacrificing your budget. We believe that every student deserves to experience the thrill of exploration, without compromising on safety, convenience, or affordability.

        Imagine hopping on a comfortable and modern bus, ready to whisk you away to your desired destination, all while knowing that your ticket cost won't drain your funds. Our platform not only ensures a seamless booking process but also guarantees that your travel expenses align with your student lifestyle.
        
        Navigating the world of education is challenging enough, and we want to be the wind beneath your wings as you spread your academic and exploratory horizons. By offering the Student Execution Discount, we're committed to empowering you to step out of your comfort zone and into new territories – both intellectually and geographically.
        
        So, why wait? Unlock the doors to a world of discounted possibilities. Embrace the thrill of planning your next adventure, knowing that you can execute your travel dreams without the worry of breaking the bank. Join us on this journey to make memories, gather experiences, and connect with the world around you – all while enjoying the benefits of budget-friendly travel.
        
        It's time to execute your travel aspirations with confidence, and we're here to make it happen. Welcome to a realm where student exploration meets affordability – welcome to our Student Execution Discount on bus tickets!</span>
</div>
</div>
    <div class="dis">
        <img class="disimage" src="/img/pjphoto/beach.jpg" alt="">
   <div class="discountnews"> <label for="">Couple package</label>
    <p>30% discount for june</p>
    <span>Gone are the days of burdening student loans and tight pockets – with our Student Execution Discount, you can now seize the adventure without sacrificing your budget. We believe that every student deserves to experience the thrill of exploration, without compromising on safety, convenience, or affordability.

        Imagine hopping on a comfortable and modern bus, ready to whisk you away to your desired destination, all while knowing that your ticket cost won't drain your funds. Our platform not only ensures a seamless booking process but also guarantees that your travel expenses align with your student lifestyle.
        
        Navigating the world of education is challenging enough, and we want to be the wind beneath your wings as you spread your academic and exploratory horizons. By offering the Student Execution Discount, we're committed to empowering you to step out of your comfort zone and into new territories – both intellectually and geographically.
        
        So, why wait? Unlock the doors to a world of discounted possibilities. Embrace the thrill of planning your next adventure, knowing that you can execute your travel dreams without the worry of breaking the bank. Join us on this journey to make memories, gather experiences, and connect with the world around you – all while enjoying the benefits of budget-friendly travel.
        
        It's time to execute your travel aspirations with confidence, and we're here to make it happen. Welcome to a realm where student exploration meets affordability – welcome to our Student Execution Discount on bus tickets!</span>
    </div>
    </div>
    <div class="dis">
        <img src="/img/pjphoto/bus6.jpg" class="upmage" alt="">
        <div class="discountnews"> <label for="">Foregin package</label>
            <p>30% discount for june</p>
            <span>Gone are the days of burdening student loans and tight pockets – with our Student Execution Discount, you can now seize the adventure without sacrificing your budget. We believe that every student deserves to experience the thrill of exploration, without compromising on safety, convenience, or affordability.
        
                Imagine hopping on a comfortable and modern bus, ready to whisk you away to your desired destination, all while knowing that your ticket cost won't drain your funds. Our platform not only ensures a seamless booking process but also guarantees that your travel expenses align with your student lifestyle.
                
                Navigating the world of education is challenging enough, and we want to be the wind beneath your wings as you spread your academic and exploratory horizons. By offering the Student Execution Discount, we're committed to empowering you to step out of your comfort zone and into new territories – both intellectually and geographically.
                
                So, why wait? Unlock the doors to a world of discounted possibilities. Embrace the thrill of planning your next adventure, knowing that you can execute your travel dreams without the worry of breaking the bank. Join us on this journey to make memories, gather experiences, and connect with the world around you – all while enjoying the benefits of budget-friendly travel.
                
                It's time to execute your travel aspirations with confidence, and we're here to make it happen. Welcome to a realm where student exploration meets affordability – welcome to our Student Execution Discount on bus tickets!</span>
            </div>
    </div> 
    <div class="dis">
        <img src="/img/pjphoto/bus6.jpg" class="upimage" alt="">
        <div class="discountnews"> <label for="">Pagoda package</label>
            <p>30% discount for june</p>
            <span>Gone are the days of burdening student loans and tight pockets – with our Student Execution Discount, you can now seize the adventure without sacrificing your budget. We believe that every student deserves to experience the thrill of exploration, without compromising on safety, convenience, or affordability.
        
                Imagine hopping on a comfortable and modern bus, ready to whisk you away to your desired destination, all while knowing that your ticket cost won't drain your funds. Our platform not only ensures a seamless booking process but also guarantees that your travel expenses align with your student lifestyle.
                
                Navigating the world of education is challenging enough, and we want to be the wind beneath your wings as you spread your academic and exploratory horizons. By offering the Student Execution Discount, we're committed to empowering you to step out of your comfort zone and into new territories – both intellectually and geographically.
                
                So, why wait? Unlock the doors to a world of discounted possibilities. Embrace the thrill of planning your next adventure, knowing that you can execute your travel dreams without the worry of breaking the bank. Join us on this journey to make memories, gather experiences, and connect with the world around you – all while enjoying the benefits of budget-friendly travel.
                
                It's time to execute your travel aspirations with confidence, and we're here to make it happen. Welcome to a realm where student exploration meets affordability – welcome to our Student Execution Discount on bus tickets!</span>
            </div>
    </div>
</div>
</div>
<section class="footer">
    <div class="footerContainer">
        <div class="footerBox">
            <a  class="pagename" href="">Transport<span>U</span></a>
            <div class="socal">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
        <div class="footerBox">
            <h3>Page</h3>
            <a href="">Home</a>
            <a href="">bus</a>
            <a href="">ship</a>
            <a href="">plane</a>
            <a href="">about us</a>
        </div>
        <div class="footerBox">
            <h3>legal</h3>
            <a href="">Privicy</a>
            <a href="">Refund Policy</a>
            <a href="">cookies Policy</a>
        </div>
        <div class="footerBox">
            <h3>Contact us</h3>
            <p>Yangon</p>
            <p>Sittwe</p>
            <p>09898495517</p>
        </div>
    </div>
    <div class="copyright">@2023 TransportU.com</div>
</section>
<script src="/script/home.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/DataTables/jQuery-3.7.0/jquery-3.7.0.min.js"></script>
<script src="/vendor/select2/js/select2.full.min.js"></script>
<script>
    // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $('.js-example-basic-single').select2();    
        })
</script>
</body>
</html>                                                                                                         