<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4e66fe9cce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav class="headsection">
        <label class="logo">Transport<span>U</span></label>
    <ul>
        
        <li><a href="http://">Home</a></li>
        <li><a href="http://">BUS</a></li>
        <li><a href="http://">SHIP</a></li>
        <li><a href="http://">PLANE</a></li>
        <li><a href="http://">ABOUT US</a></li>
        
    </ul>
    <div class="menubar">
        <div class="bar line1"></div>
        <div class="bar line2"></div>
        <div class="bar line3"></div>
    </div>
</nav>
<script src="/script/seemore.js"></script>
</body>
</html>