<!DOCTYPE html>
<html>

<head>
    <title>Travel Town Simulation</title>
</head>
<body>
    <h1>Sittwe To Yangon</h1>
    <h2>Sittwe-Ponnagyun-Kyauktaw-MarukU-Minbya-Ann-Magway-Yangon</h2>
    <p>Departure Time : 05:00AM</p><br><br>
    <p>Depature Date : </p><br><br>
    <p>1seat*45000 MMK</p>
    <div id="tripList"></div>
    <button>Seat</button>
    <h2> Yangon To Mandalay</h2>
    <h2> Yangon-Mandalay</h2>
    <p>Departure Time :</p><br><br>
    <p>Depature date :</p><br><br>
    <p>1seat*</p>
    <div id="tripList"></div>
   
  
</body>
</html>