<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}

</style>
<body>

<h2>Registration</h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
      <th>NRC Number</th>
  </tr>
  <tr>
    <td>Tun Tun</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
       <td>Mexico</td>
  </tr>
</table>



</body>
</html>

