*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#4a4848;
    height: 100vh;
}
    
nav{
    height: 80px;
    width: 100%;
    background-color:rgb(47, 79, 79);
    position:relative;   
}
.headsection{
    position: fixed;
    z-index: 999;
   top: 0;
}
.logo{
    font-size: 3em;
    font-weight: bold;
    color: #cef3e9;
    line-height: 80px;
    margin-left:0;
    
}
span{
    color:#00ced1;
}
.menuContainer{
    float: right;
    margin-right: 30px;
}
/* nav ul{
    float: right;
    margin-right: 30px;
} */ 
.menuList{
   display: inline-block;
   margin: 0 20px;
   line-height: 80px;

}
a{
    color: #cef3e9;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.menubar{
    position: absolute;
    top: 15px;
    left: 380px;
    display: none;
    
}
.bar{
    
    width: 45px;
    height: 6px;
    background-color:#cef3e9;
    margin:6px 0 ;
    border-radius: 10px;
}
    

.userform-h1{
    margin-top: 90px;
    font-size: 2em;
    color: #cef3e9;
  }
  .infocontainer{
    display:flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
    background:#575454 ;
  }
  .userform{
    float: left;
  }
  .userdata{
    margin: 30px 0;

   
  }
.userdata label{
    width: 200px;
 font-size: 1.5em;
 color: #cef3e9;
  }
  .userdata input,.userdata select{
    background: none;
    border: none;
    border-bottom: 2px solid #b3b2b2;
    width: 150px;
    color: #cef3e9;

  }
  select option{
    background:#575454;
    border: none;
    border-bottom: 1px solid #b3b2b2;
  }
  .userdata-btn{
    display: flex;
    justify-content: space-between;
    border: 1px solid #b3b2b2;
   margin-top: 70px;
    border-radius: 5px;
  }
  input[type=submit]{
    width: 120px;
    background:rgb(47, 79, 79) ;
    border: rgb(47, 79, 79);
    height: 30px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px 4px;
  }
  h4{
    color: #cef3e9;
    padding: 5px 0;
    border-bottom: 2px solid #cef3e9;
  }
  input[type=submit]:hover{
    background-color: rgb(85, 122, 122);
    color: #cef3e9;
  }
.footer{
    position: relative;
    top:10%;
    background-color: #2d2c2c;
    border-top: 4px solid rgb(47, 79, 79);
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;

}
.footer .footerContainer .footerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}
.footerBox p,.footerBox a,.footerBox h3{
    font-size: 1em;
    color: #cef3e9;
}
.footer .footerContainer .footerBox h3{
    font-size: 1.5em;
}
.footerBox .pagename{
    font-size: 1.5em;
}
.footer .copyright{
    background-color:rgb(47, 79, 79);
    padding: 10px 0;
    color: #cef3e9;
    font-size: 1.5em;
    text-align: center;
}
.socal{
    display:flex;
    flex-direction: column;
    margin: 30px 0;
}
.socal i{
    padding: 10px 0;
    font-size: 30px;
    color: #cef3e9;
}
/* set */
.set{
    width: 80%;
}
.set .setcontainer{
    width: 100%;
    border:1px solid #b3b2b2 ;
    margin: 20px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .set {
        width: 30%;
    }
  }

.driver{
    width:90%;
    border: 1px solid #b3b2b2;
    background: #b3b2b2;
    margin: 5px 0;
    color: #cef3e9;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    
}
table{
    width:90%;
    background: #b3b2b2;
    margin: 5px 0;
    color: #cef3e9;
    text-align: center;
    border-radius: 5px;
}
tr{
    margin: 5px 0;
}
td{
    border: 2px solid #f8f8f8;
    width: 30px;
    height: 40px;
}