
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#4a4848;
    height: 100vh;
}
    
nav{
    height: 80px;
    width: 100%;
    background-color:rgb(47, 79, 79);
    position:relative;   
}
.headsection{
    position: fixed;
    z-index: 999;
   top: 0;
}
.logo{
    font-size: 3em;
    font-weight: bold;
    color: #cef3e9;
    line-height: 80px;
    margin-left:0;
    
}
span{
    color:#00ced1;
}
.menuContainer{
    float: right;
    margin-right: 30px;
}
/* nav ul{
    float: right;
    margin-right: 30px;
} */ 
.menuList{
   display: inline-block;
   margin: 0 20px;
   line-height: 80px;

}
a{
    color: #cef3e9;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.menubar{
    position: absolute;
    top: 15px;
    left: 380px;
    display: none;
    
}
.bar{
    
    width: 45px;
    height: 6px;
    background-color:#cef3e9;
    margin:6px 0 ;
    border-radius: 10px;
}
.footer{
    position: relative;
    top:50%;
    background-color: #2d2c2c;
    border-top: 4px solid rgb(47, 79, 79);
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;

}
.footer .footerContainer .footerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}
.footerBox p,.footerBox a,.footerBox h3{
    font-size: 1em;
    color: #cef3e9;
}
.footer .footerContainer .footerBox h3{
    font-size: 1.5em;
}
.footerBox .pagename{
    font-size: 1.5em;
}
.footer .copyright{
    background-color:rgb(47, 79, 79);
    padding: 10px 0;
    color: #cef3e9;
    font-size: 1.5em;
    text-align: center;
}
.socal{
    display:flex;
    flex-direction: column;
    margin: 30px 0;
}
.socal i{
    padding: 10px 0;
    font-size: 30px;
    color: #cef3e9;
}